[submodule "Phoenix/lib/spdlog"]
	path = Phoenix/lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Phoenix/lib/glfw"]
	path = Phoenix/lib/glfw
	url = https://github.com/TheCherno/glfw
[submodule "Phoenix/lib/imgui"]
	path = Phoenix/lib/imgui
	url = https://github.com/TheCherno/imgui
